.cardListagem-container {
  width: 70%;
  margin: 5vh auto;
  border-radius: 2vh;
  background-color: #F8F9FA;
  padding: 10px;
  box-shadow: 0px 4px 5px #495057;
  font-size: 12pt;
}

.cardListagem-container-venda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5vh auto;
  border-radius: 2vh;
  background-color: #F8F9FA;
  box-shadow: 0px 4px 5px #495057;
  font-size: 12pt;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  padding: 2%;
}

.cardListagem-container-venda:hover {
  box-shadow: 0px 12px 12px #495057;
  transform: translateY(-2px);
}

.cardListagem-container-venda:active {
  box-shadow: 0px 2px 4px #495057;
  transform: translateY(0);
}

.container-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vh;
  width: 100%;
}

.info-principal {
  display: flex;
  flex-direction: row;
  padding: 2vh;
  justify-content: space-between;
  gap: 4vh;
}

.items {
  width: 50%;
}

#info-title {
  display: flex;
  font-size: 25pt;
  font-weight: 800;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
}

#info-title-venda {
  display: flex;
  font-size: 25pt;
  font-weight: 800;
  margin: 0px auto 2% auto;
}

.div-dados {
  background-color: #DEE2E6;
  border-radius: 2vh;
  padding: 1vh;
  font-weight: 900;
  width: 96%;
  margin-bottom: 1%;
}

.div-resultado {
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 1%;
  word-wrap: break-word;
  text-align: justify;
}

.div-container-produtoPedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#div-produtoPedido-venda {
  display: flex;
  flex-direction: column;
  width: 58%;
  box-shadow: 1px 1px 4px 4px #495057;
  border-radius: 2vh;
  margin: 2vh auto 2vh auto;
  padding: 2vh;
}

.div-dados-title {
  background-color: #DEE2E6;
  border-radius: 2vh;
  padding: 1vh;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin: 2%;
}

.value-box-venda {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5vh;
  font-size: 25pt;
  font-weight: 600;
  background-color: #F8F9FA;
  box-shadow: 1px 1px 4px 4px #495057;
  font-size: 15pt;
}

.div-olho {
  padding: 1vh;
  cursor: pointer;
}

.icones-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.icones-atualizacao-e-delecao {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
}

.div-container-buscar {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  justify-content: space-between;
  gap: 3vh;
  align-items: center;
}

.div-buscar {
  display: flex;
  width: 100%;
}

.div-buscar input {
  background-color: white;
  width: 80%;
}

.input-radio {
  height: 5vh;
  width: 5vh;
}

.div-radios {
  display: flex;
  justify-content: space-between;
  gap: 4px;
}
.div-radios input {
  margin-right: 1vw;
}