.cardListagem-container {
  width: 70%;
  margin: 5vh auto;
  border-radius: 2vh;
  background-color: #F8F9FA;
  padding: 2vh;
  box-shadow: 0px 4px 5px #495057;
  font-size: 12pt;
}

.cardListagem-container-venda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5vh auto;
  border-radius: 2vh;
  background-color: #F8F9FA;
  box-shadow: 0px 4px 5px #495057;
  font-size: 12pt;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  padding: 2%;
}

.cardListagem-container-venda:hover {
  box-shadow: 0px 12px 12px #495057;
  transform: translateY(-2px);
}

.cardListagem-container-venda:active {
  box-shadow: 0px 2px 4px #495057;
  transform: translateY(0);
  cursor: wait;
}

.container-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vh;
  width: 100%;
}

.info-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vh;
}

.items {
  width: 50%;
  padding: 1%;
  box-sizing: border-box;
}

#info-title {
  display: flex;
  justify-content: center;
  font-size: 25pt;
  font-weight: 800;
  margin-bottom: 4%;
  text-align: center;
}

#info-title-venda {
  display: flex;
  font-size: 25pt;
  font-weight: 800;
  margin: 0px auto 2% auto;
}

.div-dados {
  background-color: #DEE2E6;
  border-radius: 2vh;
  padding: 1vh;
  font-weight: 900;
  width: 96%;
  margin-bottom: 1%;
}

.div-resultado {
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 1%;
  word-wrap: break-word;
  text-align: justify;
  display: flex;
  justify-content: space-between;
}

.div-container-produtoPedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#div-produtoPedido-venda {
  display: flex;
  flex-direction: column;
  width: 58%;
  box-shadow: 1px 1px 4px 4px #495057;
  border-radius: 2vh;
  margin: 2vh auto 2vh auto;
  padding: 2vh;
}

.div-dados-title {
  background-color: #DEE2E6;
  border-radius: 2vh;
  padding: 1vh;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin: 2%;
}

.value-box-venda {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5vh;
  font-size: 25pt;
  font-weight: 600;
  background-color: #F8F9FA;
  box-shadow: 1px 1px 4px 4px #495057;
  font-size: 15pt;
}

.div-olho {
  padding: 1vh;
  cursor: pointer;
}

.icones-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.icones-atualizacao-e-delecao {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  margin-top: 2vh;
}

.div-container-buscar {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  justify-content: space-between;
  gap: 3vh;
  align-items: center;
}

.div-buscar {
  display: flex;
  width: 70vw;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.div-buscar input {
  background-color: white;
  width: 80%;
}

.div-msg-busca p {
  font-weight: 700;
  text-align: center;
  font-size: 2vw;
  width: 32vw;
  margin: 1px;
}

.div-dupla-radio {
  display: flex;
  flex-direction: column;
}

.div-dupla-check {
  width: 74%;
  align-items: end;
  display: flex;
  flex-direction: column;
}

.input-radio {
  height: 2.5vw;
  width: 2.5vw;
  margin: 8px auto 0 auto;
}

.input-check {
  height: 2.5vw;
  width: 2.5vw;
}

.label-radio {
  font-weight: 700;
  margin: auto 1vw 0.5vw auto;
  border-radius: 10px;
  background-color: white;
  padding: 6px;
  white-space: nowrap;
}

.input-buscar {
  border-radius: 2vw;
  padding: 1.5vh;
  font-size: 4vh;
  color: #495057;
  font-weight: 700;
}

.div-radios {
  display: flex;
  justify-content: space-around;
  width: 50%;
}

@media (max-width: 999px) {
  .div-container-buscar {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: space-between;
    gap: 3vh;
    align-items: center;
    width: 100vw;
  }

  #info-title {
    display: flex;
    font-size: 4.5vw;
    font-weight: 800;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
  }

  .div-radios {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }

  .label-radio {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 4vw;
  }

  .input-radio {
    height: 6vw;
    width: 6vw;
    margin: 8px auto 0 auto;
  }

  .input-check {
    height: 6vw;
    width: 6vw;
  }

  .div-dados {
    background-color: #DEE2E6;
    border-radius: 2vh;
    padding: 1vh;
    font-weight: 900;
    width: 85%;
    margin-bottom: 1%;
    font-size: 3.3vw;
  }

  .div-resultado {
    word-break: break-all;
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 1%;
    word-wrap: break-word;
    text-align: justify;
    width: 85%;
    display: flex;
    justify-content: space-between;
    font-size: 3.3vw;
  }

  .container-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .info-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
  }

  .items {
    width: 48%;
  }

  .icones-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
  }

  .icones-atualizacao-e-delecao {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
  }

  .input-buscar {
    border-radius: 2vw;
    padding: 1vh;
    font-size: 2vh;
    color: #495057;
    font-weight: 700;
  }

  .div-msg-busca p {
    font-weight: 700;
    text-align: center;
    font-size: 4vw;
    width: 32vw;
    margin: 1px;
  }
}