.cardListagem-container {
  width: 70%;
  margin: 5vh auto;
  border-radius: 2vh;
  background-color: #F8F9FA;
  padding: 2vh;
  box-shadow: 0px 4px 5px #495057;
  font-size: 12pt;
}

.cardListagem-container-venda {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 5vh auto;
  border-radius: 2vh;
  background-color: #F8F9FA;
  box-shadow: 0px 4px 5px #495057;
  font-size: 12pt;
  cursor: pointer;
  transition: box-shadow 0.2s ease-in-out;
  padding: 2%;
}

.cardListagem-container-venda:hover {
  box-shadow: 0px 12px 12px #495057;
  transform: translateY(-2px);
}

.cardListagem-container-venda:active {
  box-shadow: 0px 2px 4px #495057;
  transform: translateY(0);
}

.container-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vh;
  width: 100%;
}

.info-principal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 4vh;
}

.items {
  width: 50%;
}

#info-title {
  display: flex;
  font-size: 25pt;
  font-weight: 800;
  margin-bottom: 4%;
  margin-left: auto;
  margin-right: auto;
}

#info-title-venda {
  display: flex;
  font-size: 25pt;
  font-weight: 800;
  margin: 0px auto 2% auto;
}

.div-dados {
  background-color: #DEE2E6;
  border-radius: 2vh;
  padding: 1vh;
  font-weight: 900;
  width: 96%;
  margin-bottom: 1%;
}

.div-resultado {
  font-weight: bold;
  margin-left: 2%;
  margin-bottom: 1%;
  word-wrap: break-word;
  text-align: justify;
}

.div-container-produtoPedido {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#div-produtoPedido-venda {
  display: flex;
  flex-direction: column;
  width: 58%;
  box-shadow: 1px 1px 4px 4px #495057;
  border-radius: 2vh;
  margin: 2vh auto 2vh auto;
  padding: 2vh;
}

.div-dados-title {
  background-color: #DEE2E6;
  border-radius: 2vh;
  padding: 1vh;
  font-weight: 900;
  width: 100%;
  text-align: center;
  margin: 2%;
}

.value-box-venda {
  display: flex;
  flex-direction: column;
  width: 35%;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5vh;
  font-size: 25pt;
  font-weight: 600;
  background-color: #F8F9FA;
  box-shadow: 1px 1px 4px 4px #495057;
  font-size: 15pt;
}

.div-olho {
  padding: 1vh;
  cursor: pointer;
}

.icones-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.icones-atualizacao-e-delecao {
  width: 6vh;
  height: 6vh;
  cursor: pointer;
  margin-top: 2vh;
}

.div-container-buscar {
  display: flex;
  flex-direction: column;
  padding: 2vh;
  justify-content: space-between;
  gap: 3vh;
  align-items: center;
}

.div-buscar {
  display: flex;
  width: 70%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.div-buscar input {
  background-color: white;
  width: 80%;
}

.input-radio {
  height: 7vw;
  width: 7vw;
  display: inline;
}

.label-radio {
  display: inline-flex;
  align-items: center;
  vertical-align: middle;
  font-weight: 700;
}

.input-buscar {
  border-radius: 2vw;
  padding: 1.5vh;
  font-size: 4vh;
  color: #495057;
  font-weight: 700;
}

.div-radios {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  width: 70%;
}

.div-radios input {
  margin-right: 1vw;
}

@media (max-width: 999px) {
  .div-container-buscar {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    justify-content: space-between;
    gap: 3vh;
    align-items: center;
    width: 100vw;
  }

  .div-radios {
    display: flex;
    justify-content: space-between;
    gap: 4px;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 4vh;
  }

  .label-radio {
    display: inline-flex;
    align-items: center;
    vertical-align: middle;
    font-weight: 700;
    font-size: 4vw;
  }

  .div-dados {
    background-color: #DEE2E6;
    border-radius: 2vh;
    padding: 1vh;
    font-weight: 900;
    width: 85%;
    margin-bottom: 1%;
  }

  .div-resultado {
    font-weight: bold;
    margin-left: 2%;
    margin-bottom: 1%;
    word-wrap: break-word;
    text-align: justify;
    width: 100%;
  }

  .container-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .info-principal {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2%;
  }

  .items {
    width: 48%;
  }

  .icones-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6vw;
  }

  .icones-atualizacao-e-delecao {
    width: 4vh;
    height: 4vh;
    cursor: pointer;
  }

  .input-buscar {
    border-radius: 2vw;
    padding: 1vh;
    font-size: 2vh;
    color: #495057;
    font-weight: 700;
  }
}