.navbar {
    background-image: linear-gradient(to right, #002855 70%, #0353A4);
    color: rgb(235, 235, 5);
    font-weight: 900;
    padding: 10px;
    border-radius: 15px;
    user-select: none;
    width: 100%;
    margin-bottom: 2vh;
}

.link {
    color: #979DAC;
}

.me-auto {
    justify-content: center;
}

.me-auto :hover {
    color: #FFFF;
    transition: .8s;
}

#basic-nav-dropdown {
    color: #979DAC;
}

#basic-nav-dropdown:hover {
    color: #FFFF;
}

.dropdown-menu {
    background-color: rgba(200, 20, 30, 0.8);
}

.dropdown-menu:hover {
    transition: .8s;
}

.dropdown-item {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(235, 235, 5);
}

.dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.4);
    color: rgb(235, 235, 5);
}