* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  position: relative;
  overflow-x: hidden;
  background-color: #DEE2E6;
  width: 80vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: auto;
}

@media (max-width: 999px) {
  html {
    overflow-x: hidden;
  }

  body {
    background-color: #DEE2E6;
    width: 98vw;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

.erro {
  font-size: 15px;
  color: #ff0000;
  display: flex;
  justify-content: center;
}

.divBotaoCadastrar {
  display: flex;
  justify-content: center;
}

.div-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.div-principal {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17pt;
  position: relative;
  color: #495057;
  margin-bottom: 4%;
}

label {
  margin: 10px;
  display: block;
}

.divBotaoCadastrar button {
  border: none;
  border-radius: 30px;
  padding: 15px 30px;
  width: 250px;
  background-image: linear-gradient(to top, #002855 40%, #0353A4);
  color: #979DAC;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
  margin: 4vh;
}

.divBotaoCadastrar button:hover {
  background-image: linear-gradient(to top, #002855 10%, #0353A4);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.divBotaoCadastrar button:active {
  background: linear-gradient(to right, rgb(40, 80, 120), rgb(10, 25, 60));
  transform: translateY(3px);
  box-shadow: none;
}

.rounded-image {
  border-radius: 25px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), 10px 0 20px rgba(255, 255, 255, 0.3);
}

.centered-text {
  text-align: center;
  font-weight: 800;
  width: auto;
  font-size: 4vw;
}

.carregando {
  font-weight: 800;
}

.css-qbdosj-Input {
  color: red;
}

#valor-total-pedido {
  user-select: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 0.3rem;
  border-radius: 4vh;
  padding: 10px;
  background-color: #0466C8;
}

#valor-total-pedido span {
  color: #979DAC;
  font-size: 20pt;
  font-weight: 800;
  padding: 5px;
  box-shadow: 5px 5px 20px 12px #0466C8;
}

#select-idProduto {
  width: max-content;
  margin: auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 80%;
}

